# pip install -r requirements.txt --pre

# Jupyter
jupyter
ipykernel

# local packages
-e .

# Core packages
numpy
pandas
matplotlib
plotly
seaborn
scikit-learn
xgboost
lightgbm
gym
gymnasium
# torch
# torchvision
optuna
tqdm
# AWS
boto3

--index-url https://download.pytorch.org/whl/nightly/cu128
torch
torchvision
torchaudio
# pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu128
